# PostgreSQL Database Configuration
POSTGRESQL_DB_HOST=
POSTGRESQL_DB_NAME=
POSTGRESQL_DB_USERNAME=
POSTGRESQL_DB_PASSWORD=
POSTGRESQL_DB_SCHEMA=

# Token Configuration
ACCESS_TOKEN_COOKIE_NAME=access_token
KEYCLOAK_PUBLIC_KEY=
JWT_VALIDATION_ENABLED=false

# Email Configuration
GMAIL_ADDRESS=your.email@gmail.com
GMAIL_APP_PASSWORD=your-16-character-google-app-password

# Authentication Service Configuration
AUTH_SERVICE_URL=